#navbar-logo {
  width: 140px;
}

#navbar-icon {
  width: 35px;
}

.navbar-btn,
.navbar-btn:active,
.navbar-btn:visited {
  color: white !important;
  background-color: #595478 !important;
  border-radius: 10px !important;
  margin-left: 40px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  box-shadow: 0 2px 2px #d3d1de !important;
}
.navbar-btn:hover {
  filter: opacity(90%);
}
#selected-button {
  background-color: #8279bd !important;
}
.banner {
  background-color: #8279bd;
  color: white;
  box-shadow: 0 4px 4px #d3d1de;
  margin-bottom: 40px;
}
.banner h1 {
  padding: 40px;
  font-weight: 400;
}

.bubble {
  background-color: #e9e8ed;
  box-shadow: 0 2px 2px #d3d1de;
  border-radius: 20px;
  padding: 40px;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 40px !important;
}
.narrow {
  width: 70% !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
  margin-bottom: 50px !important;
}
.profiles-grid {
  column-count: 2;
  column-gap: 10px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.profile {
  break-inside: avoid;
}
.profile .col {
  padding-left: 0;
  padding-right: 0;
}
.profile img {
  margin: auto;
  padding: 10px;
  display: block;
  width: 200px;
  border-radius: 20px;
}
.profile p {
  font-size: 13px;
}
.members-grid {
  column-count: 3;
  column-gap: 20px;
  position: relative;
  margin-bottom: 50px;
}
.member {
  break-inside: avoid;
  margin-left: 30px;
}
.footer {
  background-color: #595478;
  height: 50px;
}

.sponsor-img {
  height: 100px;
}

.calendar {
  padding: 30px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.outreach {
  padding: 50px;
}

.outreach-img {
  margin: auto;
  padding: 10px;
  display: block;
  width: 90%;
  border-radius: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}


@media only screen and (max-width:1000px) {
  /* For tablets: */
  .profiles-grid {
    column-count: 1;
  }
  .narrow {
    /* width: 100% !important; */
  }
}

@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .members-grid {
    column-count: 2;
  }
  .profile img {
    width: 100px;
  }
  .member{
    font-size: small;
  }
}